@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="row">
    <div class="col-md-4">
        <TaskList Name="Tim"></TaskList>
    </div>
    <div class="col-md-4">
        <TaskList Name="Sue"></TaskList>
    </div>
    <div class="col-md-4">
        <TaskList Name="Marry"></TaskList>
    </div>
</div>

<p>
    <EditForm Model="demo">
        <InputRadioGroup Name="age" @bind-Value="demo.Age">
            User Age: <br />
            @for (int i = 21; i < 35; i++)
            {
                <InputRadio Value="i" />
                @i
                <br />
            }
        </InputRadioGroup>
    </EditForm>
</p>

@code{
    private DemoModel demo = new();

    class DemoModel
    {
        public int Age { get; set; }
    }

}
